  body {
  font-family: 'Montserrat';
  font-weight: 500;
}

h1 {
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
}
  #gucci {
    background-color: #222831;
    margin-top: 0;
    position: absolute;


  }

.card {
  margin: 10% 10%;

}


.gucci-h1 {
  background-color: #393e46;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  height: 3rem;



}
