
  body {
    font-family: 'Montserrat';
    font-weight: 500;
  }


    a{
      color: #11999E;
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;}

    a:hover {
      color: #EAF6F6;
  }


    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 2rem;
      line-height: 1.5;
    }

    h3 {
      font-family: 'Montserrat';
      font-weight: 600;
    }

    p {
      color: #8f8f8f;
      margin: 5%;
    }

    footer {
      width: 100%;
      background-color: #393e46;
      padding: 1rem 2rem 3rem;
      height: 15rem;
      margin-bottom: 0;

    }

    footer p, footer a {
      color: white;
      text-decoration: none;
    }

    footer h2 {
      color: white;
      text-align: left;
      font-weight: 500;
      padding-top: 2rem;
    }

    footer hr {
      color: white;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));

    }



  /* Navigation Bar */


  #title {

    color: #fff;
    margin-bottom: 5rem;}


  .container-fluid {
    padding: 1% 5%;
  }

  .navbar {
    text-align: right;

  }

  .active-home {
    border-bottom: 2px solid #fff;
  }

  .nav-item {
    margin-right: 100px;
  }

  .nav-link {
    color: #fff;
    text-decoration: none;

  }

  .nav-link:hover {
    color: black;
  }

  .nav-image {
    margin-top: -3rem;
    margin-bottom: -3rem;

  }



  /* FEATURES */
  #features {
    background-color: #fff;
  }

  .icon {
    margin-bottom: 7%;
  }

  .feature-box {
    text-align: center;
    padding: 7%;
    margin: 5% auto;
  }




  /* BRANDS */

  #brands {
    background-color: #f1d1d0;
    /* alternative */
    #ffe3de
  }


  .card {
  margin: 10% 10%;
  padding: 10%;
  border-radius: 13%;
  }




  /* FOOTER */



  .contact-info {
    text-align: left;
  position: relative;
  left: 100px;
  }


  .p-1 {
    margin: 0;
    color: white;
  }


  .a-1 {
    color: white;
  }


  .a-1:hover {
    color: grey;
  }


  .socket {
    color: white;
    background-color: #222831;
    text-align: center;
    padding: 2rem;
    height: 5rem;
  }

  ul.social {
    list-style-type: none;
    display: inline-flex;
    margin: 0 auto;
  }

  .fab {
    font-size: 3rem;
    padding: 1rem;


  }

  .fab:hover {
    color: #79a3b1;
  }

  .fas {
    font-size: 3rem;
    padding: 1rem;


  }

  .fas:hover {
    color: #79a3b1;
  }

  /* MEDIA */

  @media (min-width: 993px) {

    }
